{
    "presets": [
        ["@babel/preset-env", {
            "targets": {
                "chrome": "60",
                "safari": "10.1",
                "firefox": "54",
                "edge": "15"
            }
        }]
    ]
}
